@media (min-width: 992px) {
    /* HEADER */
    .logo {
        width: 60%;       
    }
    .header-txt {
        font-size: small;    
    }
     /* cat cards  */
     .cat-txt {
        font-size: 2vh;
    }
   
 }