* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ol, ul {
    padding-left: 0rem;
}

main {
    height: 100vh;
}
/* TEXT */

body {
    font-family: 'Playfair Display', serif;    
}

.txt-ctr {
    text-align: center;
}

.txt-med {
    font-size: medium;
}
.bold {
    font-weight: bold;
}
.txt-small {
    font-size: small;
}
 

/* PADDING */

.pad-lft-5 {
    padding-left: 5%;
}
/* Margin */

.mrg-rgt {
    padding-right: 15%;
}
.mrg-top {
    margin-top: 10%;
}
.mg-top1 {
    margin-top: 1%;
}
.mg-bot1 {
    margin-bottom: 1%;
}

/* DISPLAY */

.flex {
    display: flex;
}

/* SIZING */

.wd-100 {
    width: 100%;
}

/* HEADER */

.header-mobile { 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 60%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.banner {
    padding-left: 10%;
}
.header-icons {
    font-size: 20px;
}

.hamb {
    padding: 0px;
    border: transparent;
}
.header-txt {
    font-size: x-small;    
}

.header-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list-group-item {
    background-color: #F7E2D6 !important;
    border: none !important;
}
.user-icon {
    padding-right:5%
}

/* OFFCANVAS */

.offcanvas {
    background-color: #F4F9FA;    
}
.offcanvas-body {
    padding-left: 0px ;
    padding-right: 0px;
}
.offcanvas.offcanvas-start{
    width: 80%;
}

.btn-canv {
    position: fixed;    
    right: 0;   
 }
.btn-bord {
    background-color: #9DD6DF;
}
.navbar-toggler:focus {
    box-shadow:none !important
}
.navbar {
    padding: 0 !important;
}


/* FOOTER */

.footer-mobile {
    display: grid;
    align-items: center;
    padding: 10px;
}
.footer-icons {
    font-size: 1rem;
}
.footer-section {
    display: flex;
    justify-content: space-between;
}
.footer-section-divs {
    display: grid;
}
.footer-titles { 
    font-size: xx-small;
}
.footer-contact-divs {
   display: flex
}
.footer-text {
    font-size: xx-small;
}
.ancor {
    color: black !important;
    text-decoration: none !important;
}

/* CARDS CATEGORIAS */

.categ-card {
    background-image: url("/images/ropa/calzado.jpg");
    background-color: #9DD6DF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 150px;
    
}