<div class="gris footer-mobile">

    
    <section class="footer-section">
        <div class="footer-section-divs">
            <div>
                <h4 class="footer-titles"> Ginger Ropa Vintage </h4>
                <i class="fa-solid fa-grip-lines footer-icons"></i>
            </div>
            
            <p class="footer-text"> About </p>
        </div>

        <div class="footer-section-divs">
            <div>
                <h4 class="footer-titles"> Redes </h4>
                <i class="fa-solid fa-grip-lines footer-icons"></i>
            </div>
            
            <i class="fa-brands fa-instagram footer-icons"></i>
            <i class="fa-brands fa-facebook footer-icons mg-t-5"></i>
        </div>

        <div class="footer-section-divs">
            <div>
                <h4 class="footer-titles"> Envios </h4>
                <i class="fa-solid fa-grip-lines footer-icons"></i>
            </div>
            
            <i class="fa-solid fa-truck-fast footer-icons"></i>
            <p class="footer-text"> Envios a todo el pais </p>
        </div>

        <div class="footer-section-divs">
            <div>
                <h4 class="footer-titles"> Contacto </h4>
                <i class="fa-solid fa-grip-lines footer-icons"></i>
            </div>
            
            <div class="footer-contact-divs">
                <i class="fa-solid fa-square-phone footer-icons"></i>
                <p class="footer-text mg-l-5"> 1168972327 </p>
            </div>
            <div class="footer-contact-divs">
                <i class="fa-regular fa-envelope footer-icons"></i>
                <p class="footer-text mg-l-5"> benitezmelina81@gmail.com </p>
            </div>
        </div>
    </section>

</div>