<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid rosa">
        <div class="row align-items-center justify-content-between" style="border: solid 1px black;">
            <div class="col  " style="border: solid 1px red;">                
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="col text-center" style="border: solid 1px blue;">
                <img src="/images/GRV-logo.png" alt="imagen logo" class="logo"> 
            </div>
            <div class="col text-end" style="border: solid 1px green;">
                <i class="text-right fa-solid fa-bag-shopping"></i> 
            </div>

        </div>
   
    <a class="navbar-brand" href="#">Offcanvas navbar</a>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              
            </ul>
            <form class="d-flex mt-3" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
      
    </div>
  </nav>