<header>
    <div class="container-fluid rosa">
        <div class="row align-items-center justify-content-between" style="border: solid 1px black;">
            <div class="col  " style="border: solid 1px red;">                
                <a class="btn hamb" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                    <i class="fa-solid fa-bars"></i>
                </a>
            </div>
            <div class="col text-center" style="border: solid 1px blue;">
                <img src="/images/GRV-logo.png" alt="imagen logo" class="logo"> 
            </div>
            <div class="col text-end" style="border: solid 1px green;">
                <i class="text-right fa-solid fa-bag-shopping"></i> 
            </div>

        </div>
        <div class="offcanvas offcanvas-start navbar-toggler" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <button  type="button" class="btn-close btn-canv mfp-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <div class="offcanvas-header">
                <form class="d-flex" role="search">
                    <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-bord" type="submit"><i class="fa-solid fa-regular fa-magnifying-glass"></i></button>
                </form> 
            </div>
            <div class="offcanvas-body">
                <div>
                    <ul class="navbar-nav">
                        <li class="pad-lft-5 nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Categorias</a>
                        </li>
                        <hr class="mg-top1 mg-bot1">
                        <li class="pad-lft-5 nav-item">
                            <a class="nav-link" href="#">Realizaciones</a>
                        </li>
                        <hr class="mg-top1 mg-bot1">
                        <li class="pad-lft-5 nav-item">
                            <a class="nav-link" href="#">Amigxs </a>
                        </li>
                        <hr class="mg-top1 mg-bot1">
                        <li class="pad-lft-5 nav-item">
                            <a class="nav-link">Nosotrxs</a>
                        </li>
                            <hr class="mg-top1 mg-bot1">
                        </ul>
                    </div>                         
                </div>
            </div>
        </div>

    </div>
</header>

