<header>   
    <nav class="navbar navbar-expand-md bg-body-tertiary">
        <div class="container-fluid rosa">            
            <button class="navbar-toggler btn hamb" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars header-icons"></i>
            </button>     
            <img src="/images/GRV-logo.png" alt="imagen logo" class="logo">          
        
        
            <i class="fa-solid fa-bag-shopping header-icons "></i>   
                          
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-bord" type="submit"><i class="fa-solid fa-regular fa-magnifying-glass"></i></button>
                    </form>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                    </li>                  
                    <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>            
            </div>
            
        </div>
        </nav>
    
</header>
