<div class="rosa header-mobile">
   
        <i class="fa-solid fa-bars header-icons"></i>
   
        <img src="/images/GRV-logo.png" alt="imagen logo" class="logo">               
     
        <i class="fa-solid fa-bag-shopping header-icons"></i>
   
</div>