<div id="feed-contenedor">
    <div class="main-galery">
        <!-- left -->
        <div class="chevron">
            <span id="prev" >
                <i class="fa-solid fa-chevron-left"></i>
            </span>
        </div>
        <!-- galery -->
        <div class="contenedor-galery">
            <div class="galery">               
            </div>
        </div>
        <!-- right -->
        <div class="chevron">
            <span id="next">
                <i class="fa-solid fa-chevron-right"></i>
            </span>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col">

        </div>

    </div>

</div>