<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <!-- HEADER -->
    <header>
        <%- include('./partials/header') %>
    </header>   

    <!-- MAIN -->
    <main>
        <!-- BANNER -->
        <div class="container-fluid txt-ctr mt-4">
            <div class="row cat-pad">
                <div class="col d-md-none">
                    <a href="/" class="ancor">
                        <img 
                            src= "images/Ginger Maisson Vintage mobile 3.png"
                            alt="Esto es una imagen de una tela rosa de piel sintetica" 
                            class="w-100">
                    </a>
                </div>
                <div class="d-none d-md-flex col-md-4 border ban-pad">
                    
                    <a href="/" class="ancor">
                        <img 
                            src= "images/Ginger Maisson Vintage mobile 3.png"
                            alt="Esto es una imagen de una tela rosa de piel sintetica" 
                            class="w-90">
                    </a>
                </div>
                <div class="col-md-8 border mt-3 mt-md-0">
                    <div class="row flex-wrap">                        
                        <div class="container">
                            <div class="row g-2 g-lg-3 justify-content-evenly">
                                <div class="col-6 col-md-3">                        
                                    <div class="card h-100 position-relative">
                                        <div class="card-body h-100 w-100 categ-card calzado-card position-relative">
                                            <div class="position-absolute top-50 start-50 translate-middle w-100 rosa">
                                                Calzado
                                            </div>
                                        </div>
                                    </div>                        
                                </div>
                                <div class="col-6 col-md-3">
                                    <div class="card h-100 position-relative">
                                        <div class="card-body h-100 w-100 categ-card camisa-card position-relative">
                                            <div class="position-absolute top-50 start-50 translate-middle w-100 rosa">
                                                Camisas/Blusas
                                            </div>
                                        </div>
                                    </div>             
                                </div>
                                <div class="col-6 col-md-3">
                                    <div class="card h-100 position-relative">
                                        <div class="card-body h-100 w-100 categ-card falda-card position-relative">
                                            <div class="position-absolute top-50 start-50 translate-middle w-100 rosa">
                                                Falda
                                            </div>
                                        </div>
                                    </div>             
                                </div>
                                <div class="col-6 col-md-3">
                                    <div class="card h-100 position-relative">
                                        <div class="card-body h-100 w-100 categ-card pantalon-card position-relative">
                                            <div class="position-absolute top-50 start-50 translate-middle w-100 rosa">
                                                Pantalón
                                            </div>
                                        </div>
                                    </div>             
                                </div>
                                <div class="col-6 col-md-3">
                                    <div class="card h-100 position-relative">
                                        <div class="card-body h-100 w-100 categ-card piloto-card position-relative">
                                            <div class="position-absolute top-50 start-50 translate-middle w-100 rosa">
                                                Piloto
                                            </div>
                                        </div>
                                    </div>             
                                </div>
                                <div class="col-6 col-md-3">
                                    <div class="card h-100 position-relative">
                                        <div class="card-body h-100 w-100 categ-card sacos-card position-relative">
                                            <div class="position-absolute top-50 start-50 translate-middle w-100 rosa">
                                                Sacos/Tapados
                                            </div>
                                        </div>
                                    </div>             
                                </div>
                                <div class="col-6 col-md-3">
                                    <div class="card h-100 position-relative">
                                        <div class="card-body h-100 w-100 categ-card short-card position-relative">
                                            <div class="position-absolute top-50 start-50 translate-middle w-100 rosa">
                                                Shorts/Bermudas 
                                            </div>
                                        </div>
                                    </div>             
                                </div>
                                <div class="col-6 col-md-3">
                                    <div class="card h-100 position-relative">
                                        <div class="card-body h-100 w-100 categ-card sweater-card position-relative">
                                            <div class="position-absolute top-50 start-50 translate-middle w-100 rosa">
                                                Sweaters
                                            </div>
                                        </div>
                                    </div>             
                                </div>
                                <div class="col-6 col-md-3">
                                    <div class="card h-100 position-relative">
                                        <div class="card-body h-100 w-100 categ-card vestido-card position-relative">
                                            <div class="position-absolute top-50 start-50 translate-middle w-100 rosa">
                                                Vestidos
                                            </div>
                                        </div>
                                    </div>             
                                </div>
                                <div class="col-6 col-md-3">
                                    <div class="card h-100 position-relative">
                                        <div class="card-body h-100 w-100 categ-card accesorio-card position-relative">
                                            <div class="position-absolute top-50 start-50 translate-middle w-100 rosa">
                                                Accesorios
                                            </div>
                                        </div>
                                    </div>             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                

                

                </div>
            </div>
        </div>
        
    </main>

    <!-- BOOTSRAP ENDING LINE -->
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous">
    </script>
    
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>